<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-Da-Burger!</title>
			<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
			<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	</head>
	<body>
		<div class="pure-g">
			<div class="pure-u-1-1">
				<img src="/assets/burger.png" alt="Delicious burger" />
				<h1>Eat Da Burger</h1>
			</div >
				{{{ body }}}
	</div>
	</body>
</HTML>
