<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tech Turtle</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/assets/javascript/script.js"></script>
	<script type="text/javascript" src="/assets/javascript/quagga.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/tables.css">
</head>
<body>
<div class="container">
	<div class="header clearfix">
		<nav>
		  <ul class="nav nav-pills pull-right">
		    <li role="presentation"><a href="/">Welcome {{#each user}}{{this.name}}{{/each}}</a></li>
		    <li role="presentation"><a href="/shop">Shop</a></li>
		    <li role="presentation"><a href="/orders">Orders</a></li>
		    <li role="presentation"><a href="/inventory">Inventory</a></li>
		    <li role="presentation"><a href="/sign_in">Sign In</a></li>
		  </ul>
		</nav>
		<span class="text-muted"><a href="/"><img src="/assets/images/logo.jpg" alt="Tech Turtle"></a></span>
	</div>

	{{{ body }}}

<div id="yourElement">
	<h1>test</h1>
</div>
	<footer class="footer">
		<p>&copy; 2016 Tech Turtle, Inc.</p>
	</footer>
	<script type="text/javascript">
	Quagga.init({
    inputStream : {
      name : "Live",
      type : "LiveStream",
      target: document.querySelector('#yourElement')    // Or '#yourElement' (optional)
    },
    decoder : {
      readers : ["upc_reader"]
    }
  }, function(err) {
      if (err) {
          console.log(err);
          return
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
			Quagga.onDetected(function(data){
				console.log(data);
				console.log("test");
				console.log(data.codeResult.code);
				Quagga.stop();
				return data
		});
  });
// data.codeResult.code
	</script>
</div>
</body>
</html>
