<div class="row">
  <div class="col-md-12 shopping">
    <h1>Shopping Cart</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="column-labels">
          <label class="product-image headerLabels">Image</label>
          <label class="product-details headerLabels">Product</label>
          <label class="product-price headerLabels">Price</label>
          <label class="product-quantity headerLabels">Quantity</label>
          <label class="product-removal headerLabels">Remove</label>
          <label class="product-line-price headerLabels">Total</label>
        </div>
        <div id="site">
          <div id="content" class="cart">
            <form id="shopping-cart" action="/cart" method="post"><br>
              <table class="shopping-cart" width="100%">
                <thead>
                </thead>
                <tbody>

                </tbody>
              </table>
            </form>
          </div>
        </div>
        <div class="totals cart">
          <div class="totals-item">
            <label class="headerLabels">Subtotal:</label>
            <div class="totals-value productPrice" id="cart-subtotal"></div>
          </div>
          <div class="totals-item">
            <label class="headerLabels">Tax (5%):</label>
            <div class="totals-value headerLabels" id="cart-tax"></div>
          </div>
          <div class="totals-item">
            <label class="headerLabels">Shipping:</label>
            <div class="totals-value headerLabels" id="cart-shipping"></div>
          </div>
          <div class="totals-item totals-item-total">
            <label class="headerLabels">Grand Total:</label>
            <div class="totals-value productPrice" id="cart-total"></div>
          </div>
        </div>
        <form action="/orders/ocreate" method="post">
          <button name="ordercreation" value="orderNumber" class="checkout btn btn-success btn-lg ">Checkout</button>
        </form> 
      </div>
    </div>
  </div>
</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="assets/javascript/cart.js"></script>
