<div class="row">

  <div class="col-md-12 homePage">
    <div class="row marketing">

      <div class="col-md-12 text-center"><img src="assets/images/thankYou.jpg" alt="Thank You"></div>
      <div class="col-md-12 text-center">&nbsp;</div>
      <div class="col-md-3"></div>
      <div class="col-md-4">
        <h4>Order Information</h4>
        <p>
          Your order number is: {{orderNumber}}<br>
          You will recive an email confirmation shortly.<br><br>
          <h4>Items in your cart:</h4>
          {{#each print}}
            <ul>
              <li>Product : {{this.barcode}}</li>
              <li>Quantity : {{this.qty}} </li>
            </ul>
          {{/each}}
        </p>

      </div>
      <div class="col-md-5">
        <h4>Customer Care</h4>
        <p>
          Phone: 888-TechTur<br>
          Email: CustomerCare@TechTurtle.com
        </p>

        <h4>Free returns within 30 days</h4>
        <p>If you need to make a return, visit your Order History.</p>
      </div>
    </div>
  </div>
</div>