<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-4"><img src="/assets/images/large_cpu.png" alt="Large Computer"></div>
	<div class="col-md-4">
	<h3>Dell XPS 9000</h3>
	by Dell.
	<hr>
	Price: $1,239.95<br>
	Qty:
		<select>
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select><br><br>
	<button>ADD TO CART</button>
	<hr>
	Performance you can rely on.<br>
	The essential business-class features and options that deliver the performance small and growing businesses need.<br>
	Get $22 back in rewards
</div>
	<div class="col-md-2"></div>
</div>