<table id="shop" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-search="Dell XPS 9000" align="center">
            	<a href="/product"><img src="/assets/images/cpu_1.png" alt="Computer Name"></a><br>
            	Dell XPS 9000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 8000" align="center">
            	<img src="/assets/images/cpu_2.png" alt="Computer Name"></a><br>
            	Dell XPS 8000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 7000" align="center">
            	<img src="/assets/images/cpu_3.png" alt="Computer Name"></a><br>
            	Dell XPS 7000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 6000" align="center">
            	<img src="/assets/images/cpu_4.png" alt="Computer Name"><br>
            	Dell XPS 6000<br>
            	$1,239.95 by Dell</td>
        </tr>
        <tr>
            <td data-search="Dell XPS 5000" align="center">
            	<a href="/product"><img src="/assets/images/cpu_5.png" alt="Computer Name"></a><br>
            	Dell XPS 5000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 4000" align="center">
            	<img src="/assets/images/cpu_6.png" alt="Computer Name"><br>
            	Dell XPS 4000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 3000" align="center">
            	<img src="/assets/images/cpu_7.png" alt="Computer Name"><br>
            	Dell XPS 3000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 2000" align="center">
            	<img src="/assets/images/cpu_8.png" alt="Computer Name"><br>
            	Dell XPS 2000<br>
            	$1,239.95 by Dell</td>
        </tr>
        <tr>
            <td data-search="Dell XPS 9000" align="center">
            	<img src="/assets/images/cpu_1.png" alt="Computer Name"><br>
            	Dell XPS 9000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 8000" align="center">
            	<img src="/assets/images/cpu_2.png" alt="Computer Name"><br>
            	Dell XPS 8000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 7000" align="center">
            	<img src="/assets/images/cpu_3.png" alt="Computer Name"><br>
            	Dell XPS 7000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 6000" align="center">
            	<img src="/assets/images/cpu_4.png" alt="Computer Name"><br>
            	Dell XPS 6000<br>
            	$1,239.95 by Dell</td>
        </tr>
        <tr>
            <td data-search="Dell XPS 5000" align="center">
            	<img src="/assets/images/cpu_5.png" alt="Computer Name"><br>
            	Dell XPS 5000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 4000" align="center">
            	<img src="/assets/images/cpu_6.png" alt="Computer Name"><br>
            	Dell XPS 4000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 3000" align="center">
            	<img src="/assets/images/cpu_7.png" alt="Computer Name"><br>
            	Dell XPS 3000<br>
            	$1,239.95 by Dell</td>
            <td data-search="Dell XPS 2000" align="center">
            	<img src="/assets/images/cpu_8.png" alt="Computer Name"><br>
            	Dell XPS 2000<br>
            	$1,239.95 by Dell</td>
        </tr>
    </tbody>
</table>