<div class="row marketing">
  <div class="col-md-6">
    <h4>A Big Solution For Small Business</h4>
    <p>Small and medium size online sellers still have big needs when it comes to their inventory solutions. That is why we designed Tech Turtle as a way to give even the smallest online seller an empowering service against the competitive eCommerce industry.</p>

    <h4>Save Time</h4>
    <p>Save time and avoid the headaches with an simple automated solution all from a centralized dashboard and service.</p>

    <h4>Speed</h4>
    <p>Get priority order fulfillment by being able to process more orders in less time and avoid out of stock hassles When you simplify your order management you simplify your success with Tech Turtles Inventory Manager.</p>
  <img src="/assets/images/large_article_im1951_happy_woman_in_warehouse.jpg">
  </div>

  <div class="col-md-6 sign_in">
    <h4>Sign In</h4>
	<form class="form col-md-12 center-block">
		<div class="form-group">
		  <input type="text" class="form-control input-lg" placeholder="Email">
		</div>
		<div class="form-group">
		  <input type="password" class="form-control input-lg" placeholder="Password">
		</div>
		<div class="form-group">
		  <button class="btn btn-primary btn-lg btn-block">Sign In</button>
		</div>
	</form>
  </div>
  
</div>