/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-family: arial, sans serif;
  font-weight: normal;
  background:url(/assets/images/bg.jpg);
}
p{
  line-height: 25px;
  font-size: 16px;
}
.jumboCarousel{
  height: 375px;
}
h4{
  font-size: 22px;
}
.shop{
  margin-top: 20px;
}
/* Custom page header */
.nav{
  margin-top: -5px;
  color: #FFFFFF !important;
}
.nav-pills > .active > a{
  color: #FFFFFF !important;
}
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
  text-decoration: none;
  color: #96C83B !important;
  background-color: transparent !important;
}
.header {
  color: #ffffff;
}
th{
	color: #0F75BC;
}
thead{
	background-color: #EFF3F8;
}
.sign_in{
	color: white;
	background-color: #438EB9;
}
.register{
	color: white;
	background-color: #438EB9;
}
.whtText{
  color: #ffffff;
}
.whtNavText{
  color: #ffffff;
  font-weight: normal;
  font-size: 18px;
  margin-right: 20px;
}
.date{
  color: #ffffff;
  font-size: 12px;
}
label{
	font-weight: normal;
}
video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}
.modal-header{
  background-color: #3A3D44;
}
.modal-title{
  color: #ffffff;
}
.homePage{
  background-color: #ffffff;
  margin-top: 50px;
  padding-top: 10px;
}
.shopping{
  margin-top: 30px;
  padding-top: 24px;
}
.newUserBtn{
  margin-top: 4px;
  float: right;
}
.inventory{
  margin-top: -25px;
}
.cart{
  padding: 5px;
  background-color: #ffffff;
}
#polina {
	font-weight:100;
	background: rgba(0,0,0,0.3);
	color: white;
	padding: 2rem;
	width: 33%;
	margin:2rem;
	float: right;
}
/*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/
/* Global settings */
/* Global "table" column settings */
.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}


.shopping-cart {
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
}
.product-title{
  font-size: 22px;
}
.headerLabels{
  font-size: 18px;
}
.productPrice{
  color: green;
  font-size: 18px;
}
.shopHeaderLabels{
  font-size: 16px;
}
.shopProductPrice{
  color: green;
  font-size: 16px;
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
  margin-top: 10px;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
  margin-top: 10px;
}
.totals .totals-item-total {
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: $';
  }

  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}


/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Custom page footer */
.footer {
	margin-top: 10px;
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}
.jumboCarousel{
  height: 323px;
}
.container-narrow > hr {
  	margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
  background-color: #FFFFFF;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
.jumboCarousel{
  height: 243px;
}
}

/*Barcode Window on Modal Popup - Inventory section*/
 #barcodeScannerWindow{
   display: none;
   margin: 0 50px 10px 50px;
 }

#barcodeScannerWindow video {
    position: inherit;
  	transform: none;
}


@media (min-width: 1500px) {
  .jumboCarousel{
    height: 323px;
  }
}